<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>hello wolrd</h1>
      {{#each message as m}}
    <p>{{m}}</p>
    {{/each}}
   </ul>
  </body>
</html>